# macOS
.DS_Store

# JetBrains PyCharm
.idea/

# Python
__pycache__/
*.egg-info/
build/
src/*.egg-info
.installed.cfg
*.egg
.cache

# Anaconda environment
.conda/

# Jupyter Notebooks
notebooks/
*.ipynb

# tmp
tmp/

# pyc
*.pyc